.container-all {
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.about-container h1 {
    font-size: 30px;
    font-family: 'Open Sans Condensed';
    font-weight: 400;
    padding-bottom: 25px;
}

.about-container a {
    font-size: 20px;
    font-family: 'Open Sans Condensed';
    font-weight: 400;
    text-align: center;
    padding-top: 20px;
    text-decoration: none;
    color: var(--color-pri);
}

@media (min-width: 769px) {
    .about-container h1 {
        font-size: 40px;
        padding-bottom: 32px;
    }
    .about-container a {
        font-size: 30px;
        padding-top: 28px;
    }
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    user-select: none;
}
